<!-- Intro Section -->
<div class="view jarallax about-view" data-jarallax='{"speed": 0.2}'>
    <div class="mask rgba-black-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown"
                            data-wow-delay="0.3s">
                            <strong>ABOUT iJn APPAREL</strong>
                        </h1>
                        <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                            <strong>Just trying to glorify the Father</strong>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Intro-->
<div class="about py-5">
    <div class="container">
        <section class="team-section text-center my-5">
            <p class="red-text">T-Shirts, really?</p>
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5">A conversation starter...</h2>
            <!-- Section description -->
            <h5 class="grey-text w-responsive mx-auto my-5">During 2018 Che Scott and myself, John Ramdath,
                purchased a
                Christian base t-shirt. During the time of wearing the t-shirt we noticed that new conversations
                with
                people about King Jesus were being sparked. We concluded that the t-shirts were the root cause
                of the
                new relationship. This inspired the creation of in Jesus name apparel LLC. </h5>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="/images/Shoot/DSC00191.jpg" alt="john and che" class="img-fluid">
                </div>
                <div class="col-md-6" style="background-color:white;">
                    <i class="fa fa-hand-pointer-o fa-4x red-text mt-5" aria-hidden="true"></i>
                    <h3 class="pt-3">What is our mission?</h3>
                    <h5 class="grey-text w-responsive mx-auto my-5">iJn apparel is built through proclaiming the good news of His word by creating clothing which points us to the Father. </h5>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6" style="background-color:white;">
                    <i class="fa fa-question-circle-o fa-4x red-text mt-5" aria-hidden="true"></i>
                    <h3 class="pt-3">What do we believe?</h3>
                    <h5 class="grey-text w-responsive mx-auto my-5">"If ye shall ask any thing in my name, I will do it." <br>-John 14:14</h5>
                </div>
                <div class="col-md-6">
                    <img src="/images/Shoot/DSC00130.jpg" alt="john and che" class="img-fluid">
                </div>
            </div>

        </section>
    </div>
</div>
<!-- Streak -->
<div class="streak streak-photo streak-long-2 rgba-gradient mb-5" style="background-image: url('/images/ben-white-170383-unsplash.jpg');">
	<div class="flex-center mask rgba-red-slight">
		<div class="container">

			<!-- Section heading -->
			
			<!--First row-->
			<div class="row text-left">
				<div class="col-md-6">
					<h3 class="text-left white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">Prayer Requests</h3>
						<hr class="hr-light">
                    <p class="white-text">We are commited to supporting our brothers and sisters in prayer. <br>Contact us today.</p>    
					<a href="/contact" class="btn btn-red darken-3 btn-md mt-3">Prayer Requests
						<i class="fa fa-chevron-right ml-1"></i>
					</a>
				</div>
			</div>

			<!--First row-->

		</div>
	</div>
</div>
<!-- Streak -->