<div class="view jarallax contact" data-jarallax='{"speed": 0.2}' style="background-image: url('/images/Shoot/DSC00163.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<!-- Mask & flexbox options-->
	<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
		<!-- Content -->
		<div class="container">
			<!--Grid row-->
			<div class="row pt-lg-5 mt-lg-5">
				<!--Grid column-->
				<div class="col-md-6 mb-3 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft prayer" data-wow-delay="0.3s">
					<h1 class="h1-responsive head">Prayer Requests</h1>
					<hr class="hr-light">
					<h6 class="mb-2">We are commited to supporting our brothers and sisters in prayer. Let us join with you in your
						struggles and thanksgivings, by making your requsts known to the Lord! </h6>
				</div>
				<!--Grid column-->
				<div class="col-sm-6 col-md-6 prayer-form">
					{{#if enquirySubmitted}}
					<h3 class="white-text">Thanks for getting in touch.</h3>
					{{else}}
					<!-- Material form login -->
					<div class="card">

						<h5 class="card-header red darken-4 white-text text-center py-4">
							<strong>Contact Us</strong>
						</h5>

						<!--Card content-->
						<div class="card-body px-lg-5 pt-0">

							<!-- Form -->
							<form class="text-center" style="color: #757575;" method="post">
								<input type="hidden" name="action" value="contact">
								<div class="form-row">
									<div class="col">
										<!-- First name -->
										<div class="md-form {{#if validationErrors.name}}has-error{{/if}}">
											<input type="text" id="materialRegisterFormFirstName" class="form-control" name="name.full" value="{{formData.[name.full]}}">
											<label for="materialRegisterFormFirstName">Full name</label>
										</div>
									</div>
								</div>
								<!-- Email -->
								<div class="md-form {{#if validationErrors.email}}has-error{{/if}}">
									<input type="email" id="materialLoginFormEmail" class="form-control" name="email" value="{{formData.email}}">
									<label for="materialLoginFormEmail">E-mail</label>
								</div>

								<div class="md-form">
									<input type="text" id="materialRegisterFormFirstName" class="form-control" name="phone" value="{{formData.phone}}">
									<label for="materialRegisterFormFirstName">Phone Number</label>
								</div>

								<!--Message-->
								<div class="md-form {{#if validationErrors.message}}has-error{{/if}}">
									<textarea type="text" id="materialContactFormMessage" name="message" class="form-control md-textarea" rows="3"></textarea>
									<label for="materialContactFormMessage">Message</label>
								</div>

								<!-- Sign in button -->
								<div class="form-actions">
									<button class="btn btn-outline-red btn-block my-4 waves-effect z-depth-0" type="submit">Send Message</button>
								</div>

							</form>
							<!-- Form -->

						</div>

					</div>
					<!-- Material form login -->
					{{/if}}
				</div>
			</div>
			<!--Grid row-->
		</div>
		<!-- Content -->
	</div>
	<!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
<div class="container"></div>

