<!--Jumbotron-->
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url('/images/christianity-cross-dawn-161188.jpg');">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="container">
                    <div class="py-5">

                        <!--Content-->
                        <h1 class="white-text font-bold">Privacy</h1>
                        <hr class="hr-light">
                        <h4 class="card-title pt-3 mb-5 font-bold">At iJn Apparel, we want you to know how we collect,
                            use, share, and protect information about you. By interacting with iJn Apparel through our
                            website, you consent to the use of information that is collected or submitted as described
                            in this privacy policy. We may change or add to this privacy policy.We encourage you to
                            review it periodically.</h4>
                        <!--Content-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron-->
<div>
    <div class="container">
        <h1>iJn Apparel's Privacy Statement</h1>

        <ul>
            <a href="#type">
                <li>What information is collected?</li>
            </a>
            <a href="#used">
                <li>How is your information used?</li>
            </a>
            <a href="#shared">
                <li>How is your information shared?</li>
            </a>
            <a href="#choices">
                <li>What choices do you have?</li>
            </a>
            <a href="#protect">
                <li>How is your personal information protected?</li>
            </a>
            <a href="#contact">
                <li>How do you contact iJn Apparel?</li>
            </a>
        </ul>
        <hr class="hr-dark">

        <!-- Types of Information -->
        <h3 id="type">Types of information we collect may include:</h3>
        <ul>
            <li>Name</li>
            <li>Mailing Address</li>
            <li>E-mail Address</li>
            <li>Phone (or mobile) number</li>
            <li>Date of Birth or age</li>
            <li>Credit/debit card number</li>
            <li>Purchase/return/exchange information</li>
        </ul>
        <p>If you choose not to provide information, we may not be able to provide you with requested services,
            products, or requested information.</p>
        <hr class="hr-dark">

        <!-- How your information is used -->
        <h3 id="used">How your informaiton is used:</h3>
        <ul>
            <li>Fulfill and manage purchases, orders, payments, and returns/exchanges.</li>
            <li>Respond to requests for information about our products and services on our website.</li>
            <li>Connect with you regarding prayer.</li>
            <li>Prevent fraudulent transactions, monitor against theft and otherwise protect our guests and our
                business.</li>
            <li>Assist Law enforcement and respond to legal/regulatory inquiries.</li>
        </ul>
        <hr class="hr-dark">

        <!-- How your information is shared -->
        <h3 id="shared">How your information is shared:</h3>
        <ul>
            <li>We may share the information we collect with companies that provide support services to us (such as
                printers, e-mail providers, mobile marketing services, analytics providers, web hosting providers,
                payment processors, coupon delivery vendors, data
                enhancement services, fraud prevention providers or shipping services providers) or that help us market
                our products and services.</li>
            <li>We may disclose information we collect when we believe disclosure is appropriate to comply with the
                law; to enforce or apply applicable terms and conditions and other agreements; to facilitate the
                financing, securitization, insuring, sale, assignment, bankruptcy, or disposal of all or part of our
                business or assets; or to protect the rights property or safety of our company, our guests or others.</li>
            <li>At your direction or request, or when you otherwise consent, we may share your information.</li>
        </ul>
        <hr class="hr-dark">

        <!-- Choices you have -->
        <h3 id="choices">What choices do you have?</h3>
        <ul>
            <li>If you do not wish us to share the personal information we have collected with other unaffiliated
                companies (for their marketing purposes), email iJn Apparel at ijnapparel@gmail.com to opt-out.</li>
            <li>The help function of your browser should contain instructions on how to set your computer to accept all
                cookies, to notify you when a cookie is issued or to not receive cookies at any time. If you set your
                device to not receive cookies at any time, certain personalized services cannot be provided to you, and
                accordingly, you may not be able to take full advantage of all of our features (i.e. you will be able
                to browse the site, but will not be able to make a purchase).</li>
        </ul>
        <hr class="hr-dark">

        <!-- Choices you have -->
        <h3 id="protect">How we protect your information:</h3>
        <ul>
            <li>We maintain administrative and technical, safeguards to protect your personal information.
                When we collect or transmit sensitive information such as a credit or debit card number, we use
                industry standard methods to protect that information. However, no e-commerce solution, website, mobile
                application, database or system is completely secure or “hacker proof.” You are also responsible for
                taking reasonable steps to protect your personal information against unauthorized disclosure or misuse.</li>
            <li>iJn Apparel operates under the strictest ethics and will in no way undermine that which has been
                intrusted to us.</li>
        </ul>
        <hr class="hr-dark">

        <h3 id="contact">How do you contact iJn Apparel?</h3>
        <p>You can always contact us through our email at: ijnapparel@gmail.com</p>
    </div>
</div>