<!--Jumbotron-->
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url('/images/christianity-cross-dawn-161188.jpg');">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="container">
                    <div class="py-5">

                        <!--Content-->
                        <h1 class="white-text font-bold">Privacy</h1>
                        <hr class="hr-light">
                        <h4 class="card-title pt-3 mb-5 font-bold">At iJn Apparel, we want you to know how we collect,
                            use, share, and protect information about you. By interacting with iJn Apparel through our
                            website, you consent to the use of information that is collected or submitted as described
                            in this privacy policy. We may change or add to this privacy policy.We encourage you to
                            review it periodically.</h4>
                        <!--Content-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron-->
<div>
    <div class="container">
        <h1>iJn Apparel's Privacy Statement</h1>

        <ul>
            <a href="#type">
                <li>What information is collected?</li>
            </a>
            <a href="">
                <li>How is your information used?</li>
            </a>
            <a href="">
                <li>How is your information shared?</li>
            </a>
            <a href="">
                <li>What choices do you have?</li>
            </a>
            <a href="">
                <li>How do you access and update your information?</li>
            </a>
            <a href="">
                <li>How is your personal information protected?</li>
            </a>
            <a href="">
                <li>How do you contact iJn Apparel?</li>
            </a>
        </ul>

        <!-- Types of Information -->
        <h3 id="type">Types of information we collect may include:</h3>
        <ul>
            <li>Name</li>
            <li>Mailing Address</li>
            <li>E-mail Address</li>
            <li>Phone (or mobile) number</li>
            <li>Date of Birth or age</li>
            <li>Credit/debit card number</li>
            <li>Purchase/return/exchange information</li>
        </ul>
        <p>If you choose not to provide information, we may not be able to provide you with requested services,
            products, or requested information.</p>
        <hr class="hr-dark">
        <!-- How information is used -->
        <h3 id="">How your informaiton is used:</h3>
        <ul>
            <li>Fulfill and manage purchases, orders, payments, and returns/exchanges.</li>
            <li>Respond to requests for information about our products and services on our website.</li>
            <li>Connect with you regarding prayer.</li>
            <li>Prevent fraudulent transactions, monitor against theft and otherwise protect our guests and our
                business.</li>
            <li>Assist Law enforcement and respond to legal/regulatory inquiries.</li>
        </ul>
        <hr class="hr-dark">
        
        <!-- Types of Information -->
        <h3 id="type">Types of information we collect may include:</h3>
        <ul>
            <li>Name</li>
            <li>Mailing Address</li>
            <li>E-mail Address</li>
            <li>Phone (or mobile) number</li>
            <li>Date of Birth or age</li>
            <li>Credit/debit card number</li>
            <li>Purchase/return/exchange information</li>
        </ul>
        <p>If you choose not to provide information, we may not be able to provide you with requested services,
            products, or requested information.</p>
        <hr class="hr-dark">

        <!-- Types of Information -->
        <h3 id="type">Types of information we collect may include:</h3>
        <ul>
            <li>Name</li>
            <li>Mailing Address</li>
            <li>E-mail Address</li>
            <li>Phone (or mobile) number</li>
            <li>Date of Birth or age</li>
            <li>Credit/debit card number</li>
            <li>Purchase/return/exchange information</li>
        </ul>
        <p>If you choose not to provide information, we may not be able to provide you with requested services,
            products, or requested information.</p>
        <hr class="hr-dark">


    </div>
</div>