<!--Jumbotron-->
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url('/images/christianity-cross-dawn-161188.jpg');">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="container">
                    <div class="py-5">

                        <!--Content-->
                        <h1 class="white-text font-bold">Return Policy</h1>
                        <hr class="hr-light">
                        <h4 class="card-title pt-3 mb-5 font-bold">You have 30 days to decide if an item is right for
                            you. in Jesus name apparel will refund or exchange an item, provided that it has not been
                            damaged, soiled, washed, altered or worn and that all labels and tags are attached.
                            Cosmetics and underwear/swimwear bottoms are final sale for hygienic reasons.</h4>
                        <!--Content-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron-->
<div class="container">
    <!-- Types of Information -->
    <h3 id="type">Return by mail</h3>
    <p>The easiest way to return by mail is via USPS, using the self-adhesive return label found on your Packing Slip.
        This label is pre-paid and pre-addressed, and the return shipping fee of $5.99 will automatically be deducted
        from your refund. If you have used or lost the pre-paid return label or the Return Form, please contact us. You
        can also print a new return form here.
    </p>
    <p>
        If you do not wish to use the pre-paid return label, we recommend that all returns be sent with a traceable
        carrier such as USPS, UPS or FedEx. Keep the Return Tracking Number from the package you are returning to
        ensure that the package is returned to our warehouse. in Jesus name apparel is not responsible for packages
        sent with a return label not provided by in Jesus name apparel. in Jesus name apparel does not accept C.O.D.
        deliveries.
    </p>
    <hr class="hr-dark">

    <h3 id="type">Refunds for online purchases</h3>
    <p>Your refund will be issued to the same credit card you used for the original purchase. Shipping and handling
        costs are not refundable.
    </p>
    <p>
        If you mail in your return, you will receive an email confirmation. Please allow up to 2 weeks for the credit
        to be reflected in your account. Allow up to 2 billing cycles for the credit to appear on your credit card
        statement.
    </p>
    <p>
        If you paid with PayPal, we will refund the balance to your PayPal account.
    </p>
    <hr class="hr-dark">
</div>