html, body, header, .jarallax {
  height: 100%;
}

.jarallax {
  background-image: url('/images/DSC00262.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top-nav-collapse {
  background-color: whitesmoke !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

h5 {
  letter-spacing: 3px;
}

#apparel {
  color: #b71c1c;
}

#best {
  background-color: whitesmoke;
}

.branding {
  height: 50px;
  width: 50px;
}

.hero-img {
  height: 400px;
  width: 400px;
}

.logo {
  height: 180px;
  width: 240px;
}

.side-nav {
  background-color: whitesmoke
}

.blog-view{
  height: 600px;
  background-image: url('/images/thecross.jpeg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.product-view{
  height: 600px;
  background-image: url('/images/DSC00032.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}



@media (max-width: 740px) {
  html, body, header, .jarallax {
    height: 100vh;
  }
}

@media (max-width: 740px) {
  .jarallax {
    background-color: rgba(242, 246, 248, 1);
  }
}

@media (max-width: 740px) {
  .hero-img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: whitesmoke !important;
  }
}