html, body, header, .jarallax {
  height: 100%;
}

@media (max-width: 740px) {
  html, body, header, .jarallax {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: whitesmoke !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: whitesmoke !important;
  }
}

h5 {
  letter-spacing: 3px;
}

#apparel{
    color: #b71c1c;
}

#best{
    background-color: rgba(0, 0, 0, 0.7);
}

.branding{
  height: 50px;
  width: 50px;
}

.hero-img{
  height: 400px;
  width: 400px;
}

.logo{
  height: 180px;
  width: 240px;
}

.side-nav{
  background-color: whitesmoke
}